.flashcard {
    margin: 30px;
    border: var(--second-color) 0.2rem solid;
    background-color: var(--main-color);
    border-radius: 15px;
    width: 20rem;
    height: 6.5rem;
    padding: 10px 0px;
}

.disabled {
    display: none;
}