.flashcard {
    margin: 30px;
    border: var(--second-color) 0.2rem solid;
    border-radius: 10px;
    width: 25rem;
    height: 8rem;
    padding: 10px 0px;
    font-size: 1.5rem;
}

.disabled {
    display: none;
}