.background {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

body, p {
    margin: 0;
}

.logo {

}
.background-none {
    margin: 0;
    color: white;
    text-decoration: underline;
    background: none !important;
}
