body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1c1c;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold {
  font-weight: bold;
  font-style: italic;
}

:root {
  --main-color: #a6e0c8;
  --second-color: #021f1d;
  --tertiary-color: #c5efeb;
  --forth-color: #f6eeee;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.montserrat {
  font-family: Montserrat;
}

.mr-20 {
  margin-right: 1.5rem;
}

.mt-20 {
  margin-top: 1.5rem;
}

.pl-20 {
  padding-left: 1.5rem;
}


.big-btn {
  background-color: #f6eeee;
  border: none;
  padding: 2rem 3rem;
}

button {
  font-family: Montserrat;
}

button:hover {
  cursor: pointer;
  background-color: #faf7f7;
}